# Python virtual environment

venv/
.venv/
env/
*.venv

# Python cache files

pycache/
*.py[cod]

# IDE and editor folders

.vscode/
.idea/
.project
.settings

# macOS system files

.DS_Store

# ---

# Kubernetes & Security

# ---

# CRITICAL: Do not commit your secret files!

secret.yaml
*.secret.yaml

# ---

# Terraform

# ---

# Local Terraform directories

.terraform/

# Terraform state files (these contain secrets!)

*.tfstate
.tfstate..backup

# Terraform crash logs

crash.log

# Terraform provider lock files

.terraform.lock.hcl